/* Fonts and Icons START*/
@font-face {
    font-family: "NoirPro-Bold";
    src: url(../fonts/NoirPro-Bold.otf) format('otf'),
         url(../fonts/NoirPro-Bold.woff) format('woff'),
         url(../fonts/NoirPro-Bold.woff2) format('woff2'),
         url(../fonts/NoirPro-Bold.truetype) format('truetype');
         font-display: swap;
}
@font-face {
    font-family: "NoirPro-Heavy";
    src: url(../fonts/NoirPro-Heavy.otf) format('otf'),
         url(../fonts/NoirPro-Heavy.woff) format('woff'),
         url(../fonts/NoirPro-Heavy.woff2) format('woff2'),
         url(../fonts/NoirPro-Heavy.truetype) format('truetype');
         font-display: swap;
}
@font-face {
    font-family: "NoirPro-Light";
    src: url(../fonts/NoirPro-Light.otf) format('otf'),
         url(../fonts/NoirPro-Light.woff) format('woff'),
         url(../fonts/NoirPro-Light.woff2) format('woff2'),
         url(../fonts/NoirPro-Light.truetype) format('truetype');
         font-display: swap;
}
@font-face {
    font-family: "NoirPro-Medium";
    src: url(../fonts/NoirPro-Medium.otf) format('otf'),
    url(../fonts/NoirPro-Medium.woff) format('woff'),
    url(../fonts/NoirPro-Medium.woff2) format('woff2'),
    url(../fonts/NoirPro-Medium.truetype) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "NoirPro-Regular";
    src: url(../fonts/NoirPro-Regular.otf) format('otf'),
    url(../fonts/NoirPro-Regular.woff) format('woff'),
    url(../fonts/NoirPro-Regular.woff2) format('woff2'),
    url(../fonts/NoirPro-Regular.truetype) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "NoirPro-SemiBold";
    src: url(../fonts/NoirPro-SemiBold.otf) format('otf'),
    url(../fonts/NoirPro-SemiBold.woff) format('woff'),
    url(../fonts/NoirPro-SemiBold.woff2) format('woff2'),
    url(../fonts/NoirPro-SemiBold.truetype) format('truetype');
    font-display: swap;
}
/* Fonts and Icons END*/
