/* Colors and Fonts START*/
$white: #ffffff;
$black: #151414;
$red: #2F5AF5;
$primary: #2F5AF5;
$secondary-color: #000;
$black-font: #1A1A2E;
$grey-font: #656577;
$grey-font-second: #77849E;

@mixin transition {
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

@mixin button-custom{
    color: #FFF;
    text-align: center;
    font-family: NoirPro-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 197px;
    height: 46px;
    flex-shrink: 0;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    &:after{
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 2;
    }
    &:hover{
        &:after{
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}
/* Colors and Fonts END*/
